@using WebUI.Models

@model Select2TestModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Scripts/select2-4.0.0/dist/css/select2.css" rel="stylesheet" />
<h2>SELECT 2 TESTING PAGE</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-1">
            @Html.Label("Options")
        </div>
        <div class="col-sm-10">            
            @Html.DropDownListFor(x => x.Fees, (IEnumerable<SelectListItem>)ViewBag.Exercises, null, new { @class="form-control", @multiple = "multiple"  })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1">
            @Html.Label("Total")
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Total, new { @class = "form-control" })
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/select2-4.0.0/dist/js/select2.full.js" type="text/javascript"></script>
    <script src="~/Scripts/spikes.js"></script>
}
