@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>MyWorkout allows to record workout information to remember previous sets of excercises and help to keep improving.</p>
